<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-alfrabet</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>70D0CFAE-2ADC-4921-A64C-A328D2E9FA91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3474BD05-DCDF-4B0F-B161-59780516627F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>941C7010-C5D0-4F7B-9EE2-F407E119E895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5963A6B-E2C2-4988-8851-668E29DCB175</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>show workflow Info</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF0DFD73-F306-477B-B142-5A7B412AC2A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13BACD9D-8914-4B9B-A16D-804E941ABFB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF0DFD73-F306-477B-B142-5A7B412AC2A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E68CFEC-ADEF-4E59-A76F-BF689FBB9B24</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⬅️back</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>632E4F42-17AD-4371-8AA9-4FCEC4413D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>941C7010-C5D0-4F7B-9EE2-F407E119E895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Alphabet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Monaco</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:mySummary}</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>30</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A5963A6B-E2C2-4988-8851-668E29DCB175</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 showDetails.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF0DFD73-F306-477B-B142-5A7B412AC2A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listAlphabet</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6E68CFEC-ADEF-4E59-A76F-BF689FBB9B24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching data...⏳</string>
				<key>script</key>
				<string>python3 Alfrabet.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>A dictionary of Alfred shortcuts</string>
				<key>title</key>
				<string>Alfred's Alphabet</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listAlphabet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>941C7010-C5D0-4F7B-9EE2-F407E119E895</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
set myWorkflow to (system attribute "myBundle")
tell application id "com.runningwithcrayons.Alfred" to reveal workflow myWorkflow
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>632E4F42-17AD-4371-8AA9-4FCEC4413D17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>13BACD9D-8914-4B9B-A16D-804E941ABFB4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:aalpha</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open custom hotkeys</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70D0CFAE-2ADC-4921-A64C-A328D2E9FA91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_data/custom.csv"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3474BD05-DCDF-4B0F-B161-59780516627F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred's alphabet 🔤
### A dictionary of your Alfred shortcuts
![](icons/alfred-alphabet.png)
## Browsing Alfred's Alphabet
- launch with keyword (default: `aalpha`), or custom hotkey
- scroll results or enter a single letter to filter. The first output is an overview with one circle per keyword/hotkey. 
- ⚪: unused prefix/hotkey modifier
- 🟠: prefix/hotkey modifier used for Alfred Workflow
- 🔴: used prefix/hotkey modifier, conflicting with one of the custom/system-wide shortcuts
- Circles are grouped in blocks as follows:
	1. no prefix (i.e. single-letter keyword)
	2. prefix block (if any): if any letter prefixes have been entered in `Workflow configuration`, they will be represented in this block (one circle per prefix)
	3. 1-key modifier keys in this order (block of 4): `shift`, `control`, `option`, `command`
	4. 2-key modifier keys: 
		- block of 3: `sht-ctl`, `sht-opt`, `sht-cmd`
		- block of 2: `ctl-opt`, `ctl-cmd`
		- block of 1: `opt-cmd`
	5. 3-key modifier keys (block of 3): `sht-ctl-opt`, `sht-ctl-cmd`, `ctl-opt-cmd`,
	6. 4-key modifier (block of 1): `sht-ctl-opt-cmd`
- `ctrl-enter` `^`↩️ will show the overview in large font
- `enter` ↩️ will list the workflows using that letter
- further pressing `enter` ↩️ will open the config page of the corresponding Workflow. 

## Saving custom hotkeys
By entering `:aalpha` you can open a `csv` file with custom hotkeys. 
Enter your own, using for the modifier key one of the abbreviations listed above. 
A few examples are listed as demo in the default file.</string>
	<key>uidata</key>
	<dict>
		<key>13BACD9D-8914-4B9B-A16D-804E941ABFB4</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>3474BD05-DCDF-4B0F-B161-59780516627F</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>632E4F42-17AD-4371-8AA9-4FCEC4413D17</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>6E68CFEC-ADEF-4E59-A76F-BF689FBB9B24</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>70D0CFAE-2ADC-4921-A64C-A328D2E9FA91</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>941C7010-C5D0-4F7B-9EE2-F407E119E895</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A5963A6B-E2C2-4988-8851-668E29DCB175</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>AF0DFD73-F306-477B-B142-5A7B412AC2A3</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>aalpha</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword prefixes, separated by space</string>
			<key>label</key>
			<string>My Prefixes</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MyPrefixes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Check to incllude disabled workflows</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Include Disabled Workflows</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>INCLUDE_DISABLED</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-alphabet</string>
</dict>
</plist>
